body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}

#alphabet-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #ffcccb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa07a;
}

#image-container {
    margin-top: 20px;
}